<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="lesson-modal-header">
    <h5 class="modal-title">Редактирование урока</h5>
    <button type="button" class="btn-close btn-close-white" onclick="closeLessonModal()"></button>
</div>
<div class="lesson-modal-body">
    <form id="lessonForm" method="post" th:action="@{/journal/save-lesson}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" name="lessonId" th:value="${lesson.lessonId}">

        <div class="mb-4">
            <label class="lesson-form-label">Тема урока</label>
            <textarea name="lessonTopic" rows="3" class="lesson-form-control" placeholder="Введите тему урока..." th:text="${lesson.lessonTopic}"></textarea>
        </div>

        <div class="mb-4">
            <label class="lesson-form-label">Домашнее задание</label>
            <textarea name="homeworkText" rows="3" class="lesson-form-control" placeholder="Введите домашнее задание..." th:text="${lesson.homeworkText}"></textarea>
        </div>

        <div class="lesson-modal-footer">
            <button type="button" class="btn btn-secondary-custom" onclick="closeLessonModal()">Отмена</button>
            <button type="submit" class="btn btn-primary-custom">Сохранить</button>
        </div>
    </form>
</div>
</html>