/* Основные стили и переменные */
:root {
    --black: #000000;
    --gray: #808080;
    --white: #ffffff;
    --primary-blue: #43a8e4;
    --light-blue: #a4d6f4;
    --background-color: #e6ecf2;
    --white-hover: #f0f0f0;
    --blue-hover: #7bc7f4;

    --font-family-montserrat: "Montserrat", sans-serif;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--font-family-montserrat);
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

/* Стили для всей страницы */
.home-director {
    display: flex;
}

/* Левая панель */
.left-panel {
    width: 250px;
    height: 100vh;
    /* Высота на весь экран */
    background-color: var(--white);
    box-shadow: 0px 0px 8px #00000040;
    position: fixed;
    /* Фиксированное положение */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.logo {
    position: relative;
    height: 79px;
    width: 100%;
}

.logo-background {
    background-color: var(--primary-blue);
    height: 100%;
    width: 100%;
}

.logo-text {
    position: absolute;
    top: 0;
    left: 29px;
    height: 79px;
}

/* Навигационные кнопки */
.left-panel-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 25px 0 25px;
    /* Отступы сверху и по бокам */
}

.nav-button {
    display: flex;
    align-items: center;
    /* Выравнивание иконки и текста по вертикали */
    gap: 12px;
    /* Расстояние между иконкой и текстом */
    padding: 8px 6px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--gray);
    transition: background-color 0.2s;
}

/* 1. Цвет иконок по умолчанию (серый) */
.nav-button .nav-icon path {
    stroke: var(--gray);
    transition: stroke 0.2s;
    /* Плавный переход цвета */
}

/* 2. Цвет иконки для АКТИВНОЙ кнопки (белый) */
.nav-button.active .nav-icon path {
    stroke: var(--white);
}

.nav-button:hover {
    background-color: var(--white-hover);
}

.nav-button.active {
    background-color: var(--primary-blue);
    color: var(--white);
    font-weight: 700;
}

.nav-button.active:hover {
    background-color: var(--blue-hover);
}

.nav-icon {
    width: 20px;
    height: 20px;
}

/* Кнопки профиля и выхода */
.profile-buttons {
    margin-top: auto;
    /* Прижимает блок к низу */
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}